<div class="d-flex justify-content-between align-items-center mb-3">
  <h4>System Users</h4>
  <button class="btn btn-primary" >+ Create User</button>
</div>

<table class="table table-bordered table-hover table-striped">
  <thead class="table-dark">
    <tr>
      <th>No</th>
      <th>Username</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Roles</th>
      <th>Status</th>
      <th>Usage Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>
        {{ user.role }}
        <!-- <span class="badge bg-secondary me-1" *ngFor="let role of user.role">{{ role }}</span> -->
      </td>
      <td>
        <span class="badge" [ngClass]="user.userStatus ? 'bg-success' : 'bg-danger'">
          {{ user.userStatus ? 'Active' : 'Disabled' }}
        </span>
      </td>
      <td>{{ user.usageAge }}</td>
    </tr>
  </tbody>
</table>
